.header-container{
  /* position: relative; */
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  position: -webkit-sticky;
  top: 0;
}

.header-logo a svg path{
  color: black;
}

.header-logo{
  width: 100px;
}

.header-navbar ul li{
  list-style-type: none;
  text-transform: capitalize;
}

.header-navbar ul{
  display: flex;
  gap: 25px;
}

.header-user ul{
  display: flex;
  gap: 25px;
}

.header-user ul li{
  list-style-type: none;
  text-transform: capitalize;
}

.moduls-container{
  width: 100%;
  height: 100vh;
  background: url("./img/Homepage-Model-S-Desktop-LHD.png");
}

.modely-container{
  width: 100%;
  height: 100vh;
  background: url('./img/Desktop-ModelY.png');
}