.header-container{
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo a svg path{
  color: black;
}

.header-logo{
  width: 100px;
}

.header-navbar ul li{
  list-style-type: none;
  text-transform: capitalize;
}

.header-navbar ul{
  display: flex;
  gap: 25px;
}

.header-user ul{
  display: flex;
  gap: 25px;
}

.header-user ul li{
  list-style-type: none;
  text-transform: capitalize;
}
